*$py.class
*.egg-info
*.iml
*.log
*.py[cod]
.coverage
.env
.gitmind/
.idea/
.mypy_cache/
.ruff_cache/
.python-version
.windsurfrules
.tox/
.venv/
.vscode/
__pycache__/
__pypackages__/
coverage.xml
cython_debug/
dist/
node_modules/
tests/e2e/.results
